.DS_Store
/font
/lm
/gsm
/data
/extracted_lines
/train_output
/transcribe_output
/cs_train_lineex/
/cs_train_output/
/cs_train_output.txt
/cs_transcribe_lineex/
/cs_transcribe_output/
/cs_transcribe_output.txt
/sample_images/
/texts
/replace

*.class
*.log

/ocular-*.jar
/lib

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.project
.classpath
.cache
.cache-main
.cache-tests
.settings/
.worksheet
.pydevproject

/bin/
