/font/
/lm/
/train_output/
/transcribe_output/
/cs_train_lineex/
/cs_train_output/
/cs_train_output.txt
/cs_transcribe_lineex/
/cs_transcribe_output/
/cs_transcribe_output.txt
/test_img/
/texts/
/replace/

*.class
*.log

/ocular-*.jar
/lib

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.project
.classpath
.cache
.cache-main
.cache-tests
.settings/
.worksheet

/bin/
